.vscode/**
.vscode-test/**
.accesstoken
vsc-extension-quickstart.md
*.vsix
node_modules
out
**/harmony.html

**/.idea/
**/env/
**/*.json.gzip
harmony-0.9/harmony.json.gzip

.env
harmony-0.9/harmony_diff.txt
harmony-0.9/harmony_updated.py

harmony-master/charm.c
harmony-master/charm
**/charm.json
**/harmony.json
**/charm.dSYM/

debug/
