.vscode/**
.vscode-test/**
.gitignore
.accesstoken
vsc-extension-quickstart.md
*.vsix
out/test/**
src/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
tsconfig.json
.idea
.env

debug/**
**/*.hny
update-harmony.sh
harmony-master/charm.json
harmony-master/charm.c
harmony-master/charm.html
